/* Geral */
* {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body {
    color: #E5E5E5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-shadow: 2px 2px #003300;
}

p {
    text-shadow: 1px 1px #003300;
}

section {
    background-position: center center;
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
    background-size: cover;

    border-bottom: 3px solid #990000;
}

/* Classes */
.slide h2 {
    color: #FFFFFF;
    font-size: 32px;
    font-style: italic;
    margin-bottom: 40px;
}

.slide p {
    font-size: 18px;
}

.texto {
    margin-top: 8%;
    margin-left: 8%;
    width: 38%;
}

a.voltar {
    background: url('/img/voltar.png') no-repeat center center;
    width: 175px;
    height: 51px;
    text-indent: -99999px;
    position: absolute;
    left: 25%;
    margin-left: -102px;
    margin-top: 5%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* Imagens */
img.logo5anos {
    position: absolute;
    left: 50%;
    margin-top: 5%;
    margin-left: 6%;
    width: auto;
    height: 80%;
}

img.teclado {
    position: absolute;
    left: 25%;
    margin-left: -110px;
    margin-top: 5%;
    opacity: 0.7;
}

span.img_small {
    display: block;
    position: absolute;
    margin-top: -225px;
    margin-left: -297px;
    top: 100%;
    left: 100%;
}

/* Slides */
#page_1 h1 {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 3.6em;
    margin-top: 15%;
    position: relative;
    margin-left: 8%;
    width: 45%;
    display: inline-block;
    float: left;
}

#page_1 h1 > span {
    display: block;
}

@media (min-width: 1200px) {
    #page_1 h1 > span.prolado {
        margin-left: 40px;
    }
}

#page_1 h1 span.ifrs {
    color: #1E371F;
}

#page_15 img.parabens {
    margin-top: 10%;
    margin-left: 5%;
    width: 45%;
    float: left;
}

/* Imagens da Reitora */
#page_7 img {
    margin-top: 20px;
    height: 100%;
    width: auto;
}

@media (max-height: 800px) {
    #page_7 img:last-child {
        height: 250px;
    }
}

/* Imagens Pequenas */
#page_4 .img_small {
    background-image: url('/img/page_4_small.png');
    width: 277px;
    height: 205px;
}

#page_5 .img_small {
    background-image: url('/img/page_5_small.png');
    width: 276px;
    height: 202px;
}

#page_8 .img_small {
    background-image: url('/img/page_8_small.png');
    width: 276px;
    height: 202px;
}

#page_9 .img_small {
    background-image: url('/img/page_9_small.png');
    width: 277px;
    height: 205px;
}

#page_10 .img_small {
    background-image: url('/img/page_10_small.png');
    width: 277px;
    height: 206px;
}

#page_11 .img_small {
    background-image: url('/img/page_11_small.png');
    width: 277px;
    height: 201px;
}

#page_12 .img_small {
    background-image: url('/img/page_12_small.png');
    width: 275px;
    height: 202px;
}

#page_13 .img_small {
    background-image: url('/img/page_13_small.png');
    width: 277px;
    height: 205px;
}

/* Imagens de fundo */
#page_1,
#page_15 {
    background-image: url('/img/page_1.png');
}

#page_2 {
    background-image: url('/img/page_2.jpg');
}

#page_3 {
    background-image: url('/img/page_3.jpg');
}

#page_4 {
    background-image: url('/img/page_4.jpg');
}

#page_5 {
    background-image: url('/img/page_5.jpg');
}

#page_6 {
    background-image: url('/img/page_6.jpg');
}

#page_7 {
    background-image: url('/img/page_7.jpg');
}

#page_8 {
    background-image: url('/img/page_8.jpg');
}

#page_9 {
    background-image: url('/img/page_9.jpg');
}

#page_10 {
    background-image: url('/img/page_10.jpg');
}

#page_11 {
    background-image: url('/img/page_11.jpg');
}

#page_12 {
    background-image: url('/img/page_12.jpg');
}

#page_13 {
    background-image: url('/img/page_13.jpg');
}

#page_14 {
    background-image: url('/img/page_14.jpg');
}